.messages {
  display: flex;
  justify-content: center;

  .container {
    width: 1400px;
    padding: 50px 0px;

    .title {
      display: flex;
      justify-content: space-between;
    }

    table {
      width: 100%;

      tr {
        height: 100px;
        th {
          text-align: left;
        }
        td {
          padding: 10px;

          &:first-child {
            font-weight: bold;
          }
          
          &:nth-child(2),
          &:nth-child(3) {
            color: gray;
          }
        }

        button {
          background-color: #C0A55D;
          color: white;
          padding: 10px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          display: block;
          margin: 0 auto; // 置中
        }

        &.active {
          background-color: #fffde7;
        }
      }
    }
  }
}
